<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico" />
    <link rel="stylesheet" href="css/tachyons.min.css"/>
    <link rel="stylesheet" href="css/colors.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" defer></script>
    <script type="text/javascript" src="/js/jquery.unveil.min.js" defer></script>
  </head>
  <body class="w-100 bg-white">
    
    <div class="cf">
      
      <nav class="fl w-100 w-20-ns">
	<div class="fl w-100 pv3 tc">
	  <img class="dib h3 w3" src="/imgs/logo.jpg">
	</div>
	<div class="fl w-100 pv3 tc hot-pink">
	  <div class="mv2"><a class="link" href="/">home</a></div>
	  <div class="mv2"><a class="link" href="/work">works</a></div>
	  <div class="mv2"><a class="link" href="/about">about</a></div>
	</div>
      </nav>

      <div class="fl w-100 w-80-ns">
	
	{{ content }}
	
      </div><!-- /.container -->
    </div>
    <footer align="center">
      <ul>
        <li><a href="https://www.facebook.com/dianaband.info">fb</a></li>
      </ul>
    </footer>
    <script>
     (function() {
       $("img").unveil(300);
     });
    </script>
  </body>
</html>
